.terraform/

*.tfstate
*.tfstate.*

.terraform.lock.hcl
*.tfplan


crash.log
crash.log.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.pem
azure_attack.pem

*.pub
azure_attack.pub

*.zip
function.zip

.DS_Store
.vscode/
.idea/

.env
.env.*

modules/**/generated/
modules/**/.env
modules/**/*.pem
modules/**/*.zip
modules/**/func_deploy/
